# =====================================================================
#  CONFIGURATION DE LA BASE DE DONNÉES POSTGRESQL
# =====================================================================
APP_ENV=development

# Configuration Locale (Développement)

DB_HOST_DEV=localhost
DB_PORT_DEV=5432
DB_NAME_DEV=DataBase_NAME_DEVELOPMENT
DB_USER_DEV=DataBase_User_DEVELOPMENT
DB_PASSWORD_DEV=DataBase_PASSWORD_DEVELOPMENT

#===================================================================